# Exemple pour un domaine classique
VITE_SOCKET_TARGET=https://liberchat.org

# Exemple pour un domaine .onion (Tor)
# VITE_SOCKET_TARGET=ws://krzndhtu4puxi3h57s4dqgrzyf3ox5fd6ujcpt64qqyzzam7suzjngad.onion

# Exemple pour une IP locale (dev ou prod)
# VITE_SOCKET_TARGET=http://192.168.1.42:3000

# Autres variables d’environnement possibles
ALLOWED_DOMAINS=https://liberchat.org,ws://krzndhtu4puxi3h57s4dqgrzyf3ox5fd6ujcpt64qqyzzam7suzjngad.onion,http://192.168.1.42:3000
PORT=3000
NODE_ENV=production
