# Exemple de configuration .env pour Liberchat (multi-serveur)

# Liste des domaines autorisés (séparés par des virgules)
ALLOWED_DOMAINS=https://votre-domaine.fr,https://autre-domaine.org,http://krzndhtu4puxi3h57s4dqgrzyf3ox5fd6ujcpt64qqyzzam7suzjngad.onion,http://localhost:5173

# Port d'écoute du backend
PORT=3000

# Mode d'exécution (development ou production)
NODE_ENV=production

# Cible du proxy WebSocket/HTTP pour Vite (frontend)
VITE_SOCKET_TARGET=http://krzndhtu4puxi3h57s4dqgrzyf3ox5fd6ujcpt64qqyzzam7suzjngad.onion
